body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.app-header {
    height: 60px;
    margin-bottom: 20px;
    color: white;
    background-color: #384245;
}

.app-header-title {
    font-size: 2em;
    font-weight: 600;
}

.app-header-title-subword {
    color: #7AC143;
}

.country-picker-body {
    margin: 20px;
}

#countryNameInput,
#countryCodeInput {
    margin-bottom: 16px;
}

.country-picker-input {
    width: 200px;
    height: 24px;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 1.1em;
}

.country-picker-button {
    display: inline-block;
    width: 157px;
    font-size: 1.1em;
    background-color: #7AC143;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.country-picker-button:hover {
    background-color: #86D649;
}

.country-picker-button:active {
    background-color: #74B740;
}

#countryTableHeader {
    text-align: left;
}

@media only screen and (max-width: 959px) and (min-width: 0) {
    .app-header-title {
        font-size: 1.6em;
    }

    .country-picker-input {
        width: 170px;
        height: 16px;
        font-size: 1em;
    }

    .country-picker-button {
        font-size: .9em;
        height: 44px;
    }
}
