body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.app-header {
    height: 60px;
    margin-bottom: 20px;
    color: white;
    background-color: #384245;
}

.app-header-title {
    display: flex;
    width: 100%;
    height: 100%;
}

.app-header-title-text {
    align-self: center;
    margin-left: 10px;
    font-size: 2.4em;
}

.app-header-title-subword {
    color: #7AC143;
}

.country-picker-body-container {
    display: flex;
    margin: 10px;
}

.country-picker-body {
    width: 40%;
    min-height: 30%;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

#countryNameInput,
#countryCodeInput {
    margin-bottom: 16px;
}

.country-picker-input {
    width: 55%;
    height: 24px;
    padding: 10px;
    margin-right: 6px;
    margin-bottom: 20px;
    font-size: 1.1em;
}

.country-picker-button {
    display: inline-block;
    width: 36%;
    font-size: 1.1em;
    background-color: #7AC143;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.country-picker-button:hover {
    background-color: #86D649;
}

.country-picker-button:active {
    background-color: #74B740;
}

.country-code-key,
.country-code-value {
    display: inline-block;
    margin-top: 4px;
    font-size: 1.2em;
}

.country-code-value {
    margin-left: 2px;
    font-weight: bold;
}

#countryError {
    color: red;
}

#countryTable {
    width: 100%;
}

#countryTable tr:nth-child(even) {
    background: #F3F3F3;
}

#countryTableHeader {
    text-align: left;
}

.error {
    color: red;
}

@media only screen and (max-width: 959px) and (min-width: 0) {
    .app-header-title-text {
        font-size: 2em;
    }

    .country-picker-body {
        width: 100vw;
    }

    .country-picker-input {
        width: 50%;
        height: 16px;
        font-size: .9em;
    }

    .country-picker-button {
        width: 38%;
        height: 44px;
        padding: 12px 20px;
        font-size: .85em;
    }
}
